<ion-content [fullscreen]="true">
  <div class="cover"></div>
  <div class="profile-pic-and-name">
    <ion-avatar>
      <img src="../../assets/images/profile-pic.jpg" alt="avatar">
      <ion-label>Stroescu Marian Calin</ion-label>
    </ion-avatar>
  </div>
  <div class="description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolorum provident maxime maiores odit architecto eius reiciendis autem dicta quam.</p>

    <div><a target="_blank" href="https://www.linkedin.com/in/marian-calin-stroescu-440735b6"><ion-icon name="logo-linkedin"></ion-icon> Stroescu Marian Calin</a></div>
    <div><a target="_blank" href="https://github.com/Callan003"><ion-icon name="logo-github"></ion-icon> Callan003</a></div>
    <div><a target="_blank" href="https://stackoverflow.com/users/15947768/callan"><ion-icon name="logo-stackoverflow"></ion-icon> Callan</a></div>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolorum provident maxime maiores odit architecto eius reiciendis autem dicta quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolorum provident maxime maiores odit architecto eius reiciendis autem dicta quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolorum provident maxime maiores odit architecto eius reiciendis autem dicta quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolorum provident maxime maiores odit architecto eius reiciendis autem dicta quam.</p>
  </div>
</ion-content>
